@font-face {
  font-family: SWCrawlTitle;
  src: url("/assets/SWCrawlBody.ttf"); }

html {
  height: 100%; }

body {
  background: black url("/assets/stars.jpg") no-repeat top center fixed;
  background-size: cover;
  font-family: SWCrawlBody;
  height: 100%; }

.scene {
  position: relative;
  width: 60%;
  margin: 0px auto;
  height: 100%;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  -webkit-perspective-origin: 50% 40%;
  -moz-perspective-origin: 50% 40%;
  -o-perspective-origin: 50% 40%;
  perspective-origin: 50% 40%; }

.input {
  text-align: center;
  position: absolute;
  top: 40%;
  width: 100%;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 2.2s;
  -moz-transition-duration: 2.2s;
  -ms-transition-duration: 2.2s;
  -o-transition-duration: 2.2s;
  transition-duration: 2.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear; }
  .input.zoomed {
    -webkit-transform: translateZ(1000px);
    -moz-transform: translateZ(1000px);
    -ms-transform: translateZ(1000px);
    -o-transform: translateZ(1000px);
    transform: translateZ(1000px); }
  .input input {
    font-size: 1.5em;
    color: #faa620;
    width: 60%;
    border-radius: 10px;
    padding: 8px;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 4px 3px #ddd; }
    .input input:focus {
      outline: none; }

.plane {
  display: none;
  position: absolute;
  width: 100%;
  top: -20%;
  height: 140%;
  text-align: center;
  -webkit-transform: rotateX(70deg) translateY(-20%);
  -moz-transform: rotateX(70deg) translateY(-20%);
  -ms-transform: rotateX(70deg) translateY(-20%);
  -o-transform: rotateX(70deg) translateY(-20%);
  transform: rotateX(70deg) translateY(-20%); }

.content {
  position: absolute;
  width: 100%;
  font-size: 36px;
  margin: 0px auto;
  top: 95%;
  color: #fcdf2b;
  opacity: 0;
  -webkit-animation: crawling 25s linear;
  -moz-animation: crawling 25s linear;
  animation: crawling 25s linear; }

@-webkit-keyframes crawling {
  from {
    top: 98%; }

  1% {
    opacity: 1; }

  to {
    top: 0%; } }

@-moz-keyframes crawling {
  from {
    top: 98%; }

  1% {
    opacity: 1; }

  to {
    top: 0%; } }

@-ms-keyframes crawling {
  from {
    top: 98%; }

  1% {
    opacity: 1; }

  to {
    top: 0%; } }

@-o-keyframes crawling {
  from {
    top: 98%; }

  1% {
    opacity: 1; }

  to {
    top: 0%; } }

@keyframes crawling {
  from {
    top: 98%; }

  1% {
    opacity: 1; }

  to {
    top: 0%; } }

#galaxy {
  left: 50%;
  height: 50px;
  width: 50px;
  margin-left: -25px;
  margin-top: -25px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  position: absolute;
  top: 40%; }

.star {
  background: white;
  position: absolute; }

.wrap {
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-animation: wrap 9s linear;
  -moz-animation: wrap 9s linear;
  animation: wrap 9s linear;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.unwrap {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform: rotateX(90deg) translateY(2000px);
  -moz-transform: rotateX(90deg) translateY(2000px);
  -ms-transform: rotateX(90deg) translateY(2000px);
  -o-transform: rotateX(90deg) translateY(2000px);
  transform: rotateX(90deg) translateY(2000px); }

@-webkit-keyframes wrap {
  from {
    height: 1px; }

  90% {
    height: 35px; }

  to {
    height: 1000px; } }

@-moz-keyframes wrap {
  from {
    height: 1px; }

  90% {
    height: 35px; }

  to {
    height: 1000px; } }

@-ms-keyframes wrap {
  from {
    height: 1px; }

  90% {
    height: 35px; }

  to {
    height: 1000px; } }

@-o-keyframes wrap {
  from {
    height: 1px; }

  90% {
    height: 35px; }

  to {
    height: 1000px; } }

@keyframes wrap {
  from {
    height: 1px; }

  90% {
    height: 35px; }

  to {
    height: 1000px; } }
