@import 'bourbon/bourbon';

@font-face {
  font-family: SWCrawlBody;
  src: url('/assets/SWCrawlBody.ttf');
}

html {
  height: 100%;
}

body {
  background: black url('/assets/stars.jpg') no-repeat top center fixed;
  background-size: cover;
  font-family: SWCrawlBody;
  height: 100%;
  overflow: hidden;
}

.scene {
  position: relative;
  width: 60%;
  margin: 0 auto;
  height: 100%;
  @include perspective(1000px);
  @include perspective-origin(50% 40%);
}

.input {
  display: none;
  text-align: center;
  position: absolute;
  top: 40%;
  width: 100%;
  @include transition-property(transform);
  @include transition-duration(3s);
  @include transition-timing-function(linear);

  &.zoomed {
    @include transform(translateZ(1500px));
  }

  input {
    font-size: 1.5em;
    color: #faa620;
    width: 60%;
    border-radius: 10px;
    padding: 8px;
    border-width: 1px;
    background-color:rgba(255,255,255,0.3);
    box-shadow: inset 0 0 4px 3px #ddd;

    &:focus {
      outline:none;
    }
  }
}

.plane {
  display: none;
  position: absolute;
  width: 100%;
  top: -20%;
  height: 140%;
  text-align: left;
  @include transform(rotateX(70deg) translateY(-20%));
}

.content {
  position: absolute;
  width: 100%;
  font-size:36px;
  margin: 0 auto;
  top: 95%;
  color: rgb(252,223,43);
  opacity: 0;
  @include animation(crawling 25s linear);
}

@include keyframes(crawling) {
  from {
    top: 98%;
  }
  1% {
    opacity: 1;
  }
  to {
    top: 0%;
  }
}

